* {
  box-sizing: border-box;
}

.login-bg {
  background-image: url(/assets/Login-assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.login-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.card {
  background-color: white;
  margin: auto;
  padding: 45px;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 45%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.login-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo-container {
  margin-bottom: 30px;
  width: 92%;
}

.hris-logo {
  width: 100%;
}

.form-container {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: center;
}

label {
  font-family: AVENIRROMAN;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 23px;
}

input {
  margin-bottom: 20px;
  margin-top: 5px;
  width: 100%;
  padding: 7px 15px;
  border-radius: 10px;
  border: 1px solid #e4e9f2;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  background: #f7f9fc;
  height: 50px;
  // outline-color: #1a73e8;
  outline-color: #423faf;
}

input::placeholder {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: 400;
  color: #8f9bb3;
  line-height: 21px;
}

.myFlex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fa {
  color: #7a797e;
  font-size: 1.1rem;
  margin-left: -20px;
  transform: translate(-15px, -7px);
}

.fa-eye {
  font-size: 1.1rem;
  color: #7a797e;
  margin-left: -20px;
  transform: translate(-15px, -7px);
}

.fp-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 75%;
}

.fpws {
  font-family: AVENIRMEDIUM;
  font-size: 0.9rem;
  opacity: 0.6;
}

.fpws a {
  color: black;
}

.login-form-action {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: #3366ff;
  border-radius: 30px;
  width: 60%;
  height: 45px;
  border: 0px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  font-family: Helvetica;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #ced8f7;
  color: #3366ff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.footer-container {
  width: 100%;
  margin-top: 15px;
}

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 35px;
  background-color: #606060;
  opacity: 40%;
  font-family: AVENIRROMAN;
  font-size: 0.8rem;
  color: white;
}

.intercard-logo {
  width: 100%;
  margin: 0px 10px 0px 5px;
  max-width: 20px;
}

/* Media Query for Mini Smartphones */
@media (max-width: 360px) {
  label {
    font-size: 0.6rem;
  }

  .card {
    padding: 25px;
  }
}

/* Media Query for Smartphones */
@media (max-width: 767px) {
  .card {
    padding: 30px;
    min-width: 80vw;
    max-width: 50vw;
  }

  .logo-container {
    width: 100%;
  }

  .form-container {
    width: 90%;
  }

  .fp-container {
    width: 90%;
  }
}

/* Media Query for Tablet */
@media (min-width: 767px) and (max-width: 1023px) {
  .card {
    padding: 30px;
    width: 40%;
    min-width: 60vw;
  }
}

/* Media Query for Desktop */
@media (min-width: 1024px) {
  .card {
    max-width: 40vw;
    min-width: 45vw;
  }
}
