<div class="login-bg">
  <div class="login-inner-container">
    <div class="card">
      <div class="login-container">
        <div class="logo-container">
          <img
            src="/assets/Login-assets/HRIS-Logo.png"
            class="hris-logo"
            alt="Logo"
          />
        </div>
        <div class="form-container">
          <label>Email:</label>
          <input
            type="text"
            id="email"
            class="hris-input"
            placeholder="Enter Email"
          />
          <label>Password:</label>

          <div class="myFlex">
            <input
              [type]="changetype ? 'password' : 'text'"
              class="hris-input"
              name="password"
              id="password"
              placeholder="Enter Password"
            />
            <span class="eyeicon" (click)="viewpass()"
              ><i
                [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'"
                id="togglePassword"
              ></i
            ></span>
          </div>
        </div>
        <div class="fp-container">
          <span class="fpws"><a href="#">Forgot Password?</a></span>
        </div>
        <div class="login-form-action">
          <button type="button" (click)="loginValidate()">
            <span>LOGIN</span>
          </button>
        </div>
      </div>
    </div>

    <div class="footer-container">
      <div class="footer">
        <span>Manage Employee Data | Powered by Intercard Inc.</span>
        <img
          src="/assets/Login-assets/IntercardLogo.png"
          class="intercard-logo"
          alt="Intercard Logo"
        />
      </div>
    </div>
  </div>
</div>
