// >> SIDEBAR << \\

nz-sider {
  background-color: #fff;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
  border-radius: 0px 15px 0px 0px;
  position: absolute;
  top: 60px;
  padding: 0;
  margin-top: 20px;
}

::ng-deep .ant-menu-item {
  padding: 0 15px 0 15px !important;
}

// NZ-MENU-GROUP \\
.ant-menu-item-group-title {
  padding: 9px 15px;
  color: #aab0b8;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5715;
  transition: all 0.3s;
  font-family: helvetica;
  height: 35px;
  cursor: default;
}
/////////////////////

.ant-layout {
  background: #fcf6f5;
}

.sidebar-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

// .ant-layout-sider {
//   height: 100vh;
//   max-height: 100vh;
//   top: 60px;
//   position: fixed;
//   background-color: #fff;
//   box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
//   border-radius: 0px 15px 0px 0px;
// }

.menu-label {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 14px;
  font-weight: 400;
}

.sidemenu-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  margin-right: 18px;
  max-width: 30px;
  background-size: contain;
}

.sidebar-logo {
  max-width: 30px;
  background-size: contain;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: url(/assets/Sidebar-assets/SideMenu-bg.png);
  background-size: 215px 45px;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
}

.ant-menu-inline .ant-menu-item {
  margin-top: 0px;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 0px;
}

.ant-layout-sider-collapsed {
  flex: 0 0 100px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

#dashboard {
  border-radius: 0px 15px 0px 0px;
}

.ant-menu {
  border-radius: 0px 15px 0px 0px;
  /* box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%); */
  // box-shadow: 0px;
}

.ant-layout.ant-layout-has-sider {
  width: 100%;
  height: 100%;
  // flex-direction: row;
}

.ant-menu-light .ant-menu-item:hover:not(.ant-menu-item-selected) {
  color: #b30938;
}
