// >> BODY / CONTENT << \\

.sidebar-content {
  display: flex;
}

.inner-content {
  margin: 0px 20px 20px 20px;
  padding: 20px;
  background: #fff;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  // height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card {
  display: flex;
  align-items: center;
  // padding: 50px 30px 50px 30px;
  // margin: 0px 10px 20px;
  padding: 2.5em 0.7em;
  // padding: 35px 10px 35px 10px;
  margin: 0px 5px 15px;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  justify-content: center;
}

.icons {
  margin-right: 5px;
  max-width: 60px;
}

.card-title {
  text-transform: uppercase;
  font-size: 13px;
  font-family: HELVETICABOLD;
  color: #7d7c7c;
  width: 150px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 25px;
  font-family: HELVETICABOLD;
}

// ANNOUNCEMENTS & EVENTS TAB \\
// .event-container {
//   display: flex;
//   background-color: white;
//   /* margin-top: 20px; */
//   padding: 20px;
//   /* width: 59.5%; */
//   width: 59%;
//   height: 71%;
//   border-radius: 15px;
//   box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
//   flex-direction: row;
// }

.event-container {
  display: flex;
  width: 100%;
  // background-color: red;
}

.tab-inner-container {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  height: 100%;
  // min-height: 50vh;
  padding: 10px;
}

::ng-deep .ant-tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
  font-size: 15px;
  font-weight: 500;
  padding: 0 25px;
}

::ng-deep .ant-tabs-tab:hover {
  color: #b30938 !important;
}

::ng-deep #event-tabs {
  padding: 5px 0 !important;
  gap: 10px !important;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

h2 {
  font-family: Helvetica;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: helvetica;
  font-size: 15px;
}

.imgs {
  background-size: contain;
  background-repeat: no-repeat;
}

// Carousel \\
.carousel-container {
  width: 45%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
}

.occasion-container {
  width: 45%;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
}

[nz-carousel-content] {
  text-align: center;
  height: 100%;
  width: 100%;
  // min-height: 46.6vh;
  // line-height: 325px;
  line-height: 0;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.imgs {
  width: 100%;
  height: 46.6vh;
  object-fit: fill;
}

//temporary setting
.tab-setting {
  width: 20px;
  position: inherit;
  top: -2px;
  left: 0;
}

::ng-deep .ant-tabs > .ant-tabs-nav {
  margin-bottom: 5px !important;
}
//////////////////////////////////

// BIRTHDAY, ANNIVERSARY AND HOLIDAY TAB \\
// .occasion-container {
//   display: flex;
//   border-radius: 15px;
//   /* margin-top: 20px; */
//   padding: 20px;
//   background-color: white;
//   box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
//   flex-direction: column;
//   width: 40%;
//   height: 71%;
//   // min-width: 31.7vw;
//   //   min-height: 56.5vh;
// }

.tab-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.tab {
  padding: 10px 30px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  font-size: 16px;
  font-weight: 600;
  color: #aca9a9;
  transition: all 0.3s ease;

  &:hover {
    color: #000;
  }

  &.active {
    color: #000;
    border-bottom-color: #b30938;
  }
}

//////////////////////////////////

// Mobile
@media (max-width: 600px) {
  .sidebar-content {
    display: none;
  }

  .inner-content {
    // flex-direction: column; // switch to a column layout on smaller screens
    // align-items: center; // center child elements vertically
  }

  .card-container {
    justify-content: center;
  }

  .card {
    // flex: 0 0 80%; // make cards take up 100% of the width on smaller screens
    padding: 35px 15px 35px 15px;
  }

  .icons {
    max-width: 60px;
  }

  // .main-content-container {
  //   height: fit-content;
  // }
}

/* Media Query for Tablet */
@media (min-width: 601px) and (max-width: 1023px) {
  // .main-content-container {
  //   height: fit-content;
  // }

  // .inner-content {
  //   align-items: center;
  // }

  .card-container {
    justify-content: center;
  }

  .card {
    padding: 35px 15px 35px 15px;
  }

  .icons {
    max-width: 60px;
  }
}

/* Media Query for Desktop */
@media (min-width: 1024px) {
  .card {
    padding: 2.5em 0.7em;
  }

  #card1 {
    margin: 0px 5px 15px 0px;
  }

  #card5 {
    margin: 0px 0px 15px 5px;
  }

  .icons {
    max-width: 60px;
  }
}

/* Media Query for Desktop 1700res*/
@media (min-width: 1700px) {
  .card {
    padding: 35px 25px 35px 25px;
  }
}

/* Media Query for Desktop 1900res*/
@media (min-width: 1900px) {
  .card {
    padding: 40px 45px 40px 45px;
  }
}
