// >> BODY / CONTENT << \\

.sidebar-content {
  display: flex;
}

.inner-content {
  margin: 0px 20px 20px 20px;
  padding: 20px;
  background: #fff;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  gap: 0px;
}

.card {
  display: flex;
  align-items: center;
  // padding: 50px 30px 50px 30px;
  // margin: 0px 10px 20px;
  padding: 2.5em 0.7em;
  // padding: 35px 10px 35px 10px;
  margin: 0px 5px 15px;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  justify-content: center;
}

.icons {
  margin-right: 5px;
  max-width: 60px;
}

.card-title {
  text-transform: uppercase;
  font-size: 13px;
  font-family: HELVETICABOLD;
  color: #7d7c7c;
  width: 150px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 25px;
  font-family: HELVETICABOLD;
}

// ANNOUNCEMENTS & EVENTS TAB \\
// .event-container {
//   display: flex;
//   background-color: white;
//   /* margin-top: 20px; */
//   padding: 20px;
//   /* width: 59.5%; */
//   width: 59%;
//   height: 71%;
//   border-radius: 15px;
//   box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
//   flex-direction: row;
// }

.event-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  // background-color: red;
}

// .tab-inner-container {
//   box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
//   height: 100%;
//   // min-height: 50vh;
//   padding: 10px;
// }

// ::ng-deep .ant-tabs-tab-btn {
//   outline: none;
//   transition: all 0.3s;
//   font-size: 15px;
//   font-weight: 500;
//   padding: 0 25px;
// }

// ::ng-deep .ant-tabs-tab:hover {
//   color: #b30938 !important;
// }

// ::ng-deep #event-tabs {
//   padding: 5px 0 !important;
//   gap: 10px !important;
// }

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

h2 {
  font-family: Helvetica;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: helvetica;
  font-size: 14px;
  margin-bottom: 0.5em;
}

// Carousel \\
.carousel-container {
  display: flex;
  padding: 20px;
  // width: 49%;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
  flex-wrap: wrap;
}

.ant-tabs-tabpane {
  flex: none;
  width: 100%;
  outline: none;
  height: 50vh;
}

.tab-inner-container {
  box-shadow: inset 0px 0px 10px rgb(0 0 0 / 25%);
  padding: 10px;
  height: 50vh;
  overflow: auto;
}

.tab2-inner-container {
  height: 50vh;
  overflow: hidden;
}

.occasion-container {
  display: flex;
  // width: 49%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
  flex-wrap: wrap;
}

[nz-carousel-content] {
  text-align: center;
  height: 50vh;
  width: 100%;
  // min-height: 46.6vh;
  // line-height: 325px;
  line-height: 0;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

::ng-deep .ant-tabs-content-holder {
  width: 100%;
  height: 100%;
}

.imgs {
  width: 100%;
  height: 50vh;
  object-fit: fill;
  background-size: contain;
  background-repeat: no-repeat;
}

// .imgs {
//   background-size: contain;
//   background-repeat: no-repeat;
// }

::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #b30938;
  text-shadow: 0 0 0px currentcolor;
}

::ng-deep .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  color: #b30938;
  /* background: #f7f7f7; */
  background: #fafafa;
  border: 1px solid #f0f0f0;
}

::ng-deep .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  border: 1px solid #f0f0f0;
  background: #ffffff;
}

::ng-deep .ant-tabs-tab:hover {
  color: #000000;
}
/////////////////////////////////////////////////////////////

::ng-deep .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  font-family: helvetica !important;
}

::ng-deep .ant-tabs-extra-content {
  flex: none;
  display: flex !important;
}

::ng-deep .ant-btn {
  height: 100%;
  padding: 7px 15px;
}

.add-button {
  font-weight: 500;
  font-family: helvetica;
  color: white;
  border: 0;
  background-color: #60cc65;
}

.setting-button {
  // padding: 0px 10px;
  // display: inline-flex;
  // justify-content: center;
  // align-items: center;
  // box-shadow: 1px 1px 4px rgb(0 0 0 / 25%);
  display: flex;
  justify-content: center;
}

.tab-setting {
  max-width: 18px;
}

::ng-deep .ant-tabs > .ant-tabs-nav {
  margin-bottom: 0px !important;
}
//////////////////////////////////

// BIRTHDAY, ANNIVERSARY AND HOLIDAY TAB \\
// .occasion-container {
//   display: flex;
//   border-radius: 15px;
//   /* margin-top: 20px; */
//   padding: 20px;
//   background-color: white;
//   box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
//   flex-direction: column;
//   width: 40%;
//   height: 71%;
//   // min-width: 31.7vw;
//   //   min-height: 56.5vh;
// }

// .tab-container {
//   display: flex;
//   justify-content: space-between;
//   border-bottom: 1px solid #ccc;
// }

// .tab {
//   padding: 10px 30px;
//   cursor: pointer;
//   border-bottom: 3px solid transparent;
//   font-size: 16px;
//   font-weight: 600;
//   color: #aca9a9;
//   transition: all 0.3s ease;

//   &:hover {
//     color: #000;
//   }

//   &.active {
//     color: #000;
//     border-bottom-color: #b30938;
//   }
// }

//////////////////////////////////

/* Media Query for Mobile */
@media (max-width: 600px) {
  .sidebar-content {
    display: none;
  }

  .ant-menu-item-group-title {
    font-size: 10px;
  }

  .inner-content {
    margin: 0 auto;
  }

  .main-content-container {
    justify-content: center;
  }

  .carousel-container {
    min-width: 83vw;
    margin-bottom: 15px;
    height: 60vh;
  }

  .occasion-container {
    min-width: 83vw;
    height: 60vh;
  }

  .event-container {
    // min-width: 39.5vw;
    height: 122vh;
    justify-content: center;
  }

  .card-container {
    justify-content: center;
  }

  .card {
    flex: 0 0 90%; // make cards take up 100% of the width on smaller screens
    // padding: 35px 15px 35px 15px;
  }

  .icons {
    max-width: 60px;
  }
}

/* Media Query for Tablet */
@media (min-width: 601px) and (max-width: 1023px) {
  .carousel-container {
    // min-width: 70vw;
    flex: 1 0 75%;
    height: 60vh;
    margin-bottom: 15px;
  }

  .occasion-container {
    // min-width: 70vw;
    flex: 1 0 75%;
    height: 60vh;
  }

  .event-container {
    height: 122vh;
    justify-content: center;
  }

  .card-container {
    justify-content: center;
  }

  .card {
    // padding: 35px 15px 35px 15px;
    flex: 1 0 75%;
  }

  #card1 {
    margin: 0px 5px 15px;
  }

  #card5 {
    margin: 0px 5px 15px;
  }

  .icons {
    max-width: 60px;
  }
}

/* Media Query for Desktop */
@media (min-width: 1024px) {
  .carousel-container {
    min-width: 73vw;
    height: 60vh;
    margin-bottom: 15px;
  }

  .occasion-container {
    min-width: 73vw;
    height: 60vh;
  }

  .event-container {
    height: 122vh;
    justify-content: center;
  }

  .card-container {
    justify-content: center;
  }

  .card {
    padding: 25px 10px 30px 10px;
    // flex: 1 0 80%;
  }

  #card1 {
    margin: 0px 5px 15px;
  }

  #card5 {
    margin: 0px 5px 15px;
  }

  .icons {
    max-width: 60px;
  }
}

@media (min-width: 1200px) {
  #card1 {
    margin: 0px 5px 15px;
  }

  #card5 {
    margin: 0px 5px 15px;
  }

  .card {
    padding: 30px 10px 30px 10px;
    // flex: 1 0 80%;
  }

  .card-container {
    justify-content: space-between;
  }

  .event-container {
    justify-content: space-between;
    height: 60vh;
  }

  .carousel-container {
    min-width: 34vw;
    height: 60vh;
  }

  .occasion-container {
    min-width: 29vw;
    height: 60vh;
  }
}

@media (min-width: 1520px) {
  .main-container {
    height: 100%;
  }

  .carousel-container {
    // max-width: 39.5vw;
    // height: 60vh;
    max-width: 48vw;
    height: 62vh;
    margin-bottom: 0px;
  }

  .imgs {
    height: 52vh;
  }

  [nz-carousel-content] {
    height: 52vh;
  }

  .tab-inner-container {
    height: 52vh;
  }

  .occasion-container {
    // min-width: 39.5vw;
    // height: 60vh;
    max-width: 31.7vw;
    height: 62vh;
  }

  .event-container {
    // height: 60vh;
    height: 62vh;
    justify-content: space-between;
  }

  #card1 {
    margin: 0px 5px 15px 0px;
  }

  #card5 {
    margin: 0px 0px 15px 5px;
  }
}

/* Media Query for Desktop 1700res*/
@media (min-width: 1700px) {
  .card {
    padding: 35px 25px 35px 25px;
  }

  .carousel-container {
    max-width: 42vw;
    height: 64vh;
    margin: 0;
  }

  .tab-inner-container {
    height: 55vh;
  }

  [nz-carousel-content] {
    height: 55vh;
  }

  .imgs {
    height: 55vh;
  }

  .occasion-container {
    max-width: 42vw;
    height: 64vh;
  }

  .event-container {
    height: 64vh;
    justify-content: space-between;
    align-items: flex-end;
  }
}

/* Media Query for Desktop 1900res*/
@media (min-width: 1900px) {
  .card {
    padding: 40px 45px 40px 45px;
  }
}
