// >> HEADER << \\
.header-layout {
  width: 100%;
  // height: 100%;
  max-height: 8vh;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.line-header {
  color: #efefef;
  font-size: 35px;
  font-weight: 300;
  position: absolute;
  transform: translate(60px, -3px);
  line-height: 35px;
}

nz-header {
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  height: 60px;
  //   height: 100%;
  // max-height: 8vh;
  width: 100%;
  max-width: 100vw;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
}

.hris-logo {
  width: 100%;
  // max-width: 150px;
  max-width: 175px;
  position: absolute;
  transform: translate(75px, 0px);
}

// HEADER >> ACCOUNT \\
.acc-container {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  transform: translate(86.3vw, 0vh);
  position: absolute;
  padding: 0 20px;
}

.acc-pic {
  width: 100%;
  margin-right: 10px;
  max-width: 40px;
  border: 2px solid #bcc3cc;
  border-radius: 30px;
}

.acc-name {
  width: 120px;
  font-size: 15px;
  font-weight: 500;
  font-family: Helvetica;
  overflow: visible;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

// BURGER MENU \\
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 20px;
  cursor: pointer;
  transition: color 0.3s;
  color: #838a92;
}

.trigger:hover {
  color: #b30938;
}
///////////////////////////////////

// >> SIDEBAR << \\

// NZ-MENU-GROUP \\
.ant-menu-item-group-title {
  padding: 9px 15px;
  color: #aab0b8;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5715;
  transition: all 0.3s;
  font-family: helvetica;
  height: 35px;
  cursor: default;
}

.ant-layout-sider {
  // height: 98%;
  margin-top: 20px;
  padding-top: 0px;
  background-color: #fff;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
  border-radius: 0px 15px 0px 0px;
}

.menu-label {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 14px;
  font-weight: 400;
  // color: #7d7d7d;
}

.ant-menu {
  color: #000000;
}

.sidemenu-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  margin-right: 18px;
  max-width: 30px;
  background-size: contain;
}

.sidebar-logo {
  max-width: 30px;
  background-size: contain;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: url(/assets/Sidebar-assets/SideMenu-bg.png);
  background-size: 215px 45px;
  background-repeat: no-repeat;
  background-position: right;
  color: white;

  // .sidemenu-logo {
  //   background: url("/assets/Sidebar-");
  // }
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  // border-right: 3px solid #1890ff;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
}

// .ant-layout-sider-collapsed {
//   flex: 0 0 100px !important;
//   max-width: 80px !important;
//   min-width: 80px !important;
//   width: 80px !important;
// }

// .ant-layout-sider {
//   flex: 0 0 300px !important;
//   max-width: 300px !important;
//   min-width: 100px !important;
//   width: 250px !important;
// }

.ant-layout {
  background: #fcf6f5;
  display: flex;
  flex: auto;
  min-height: 0vh;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

//NOT COLLAPSED
.ant-menu-inline .ant-menu-item {
  height: 45px;
  margin-top: 0 !important;
  margin-bottom: 0px !important;
  padding: 0px 15px;
  padding-left: 15px !important;
  overflow: hidden;
  line-height: 45px;
  text-overflow: ellipsis;
  border-bottom: 1px solid #eeeeee;
}

//WHEN COLLAPSED
.ant-menu-vertical .ant-menu-item {
  height: 40px;
  margin-top: 0 !important;
  margin-bottom: 0px !important;
  padding: 0 16px;
  overflow: hidden;
  line-height: 40px;
  text-overflow: ellipsis;
  border-bottom: 1px solid #eeeeee;
}

.ant-layout.ant-layout-has-sider {
  width: 100%;
  height: 91%;
  flex-direction: row;
}

// >> BODY / CONTENT << \\
.inner-content {
  margin: 20px;
  padding: 20px;
  background: #fff;
  height: 100%;
  max-height: 86.5vh;
  width: 97%;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;
}

.card {
  display: flex;
  align-items: center;
  padding-left: 15px;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: white;
  max-width: 15.3822916667vw;
  // max-height: 21.4681440443vh;
  max-height: 20vh;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
}

.icons {
  width: 65px;
  margin-right: 5px;
}

.card-title {
  text-transform: uppercase;
  font-size: 13px;
  font-family: HELVETICABOLD;
  color: #7d7c7c;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 25px;
  font-family: HELVETICABOLD;
}

// ANNOUNCEMENTS & EVENTS TAB \\
.event-container {
  display: flex;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  width: 59.5%;
  height: 72%;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
  flex-direction: row;
}

.tab-inner-container {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  height: 100%;
  // min-height: 50vh;
  padding: 10px;
}

::ng-deep .ant-tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
  font-size: 15px;
  font-weight: 500;
  padding: 0 25px;
}

::ng-deep .ant-tabs-tab:hover {
  color: #b30938 !important;
}

::ng-deep #event-tabs {
  padding: 5px 0 !important;
  gap: 10px !important;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

h2 {
  font-family: Helvetica;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: helvetica;
  font-size: 15px;
}

.imgs {
  background-size: contain;
  background-repeat: no-repeat;
}

// Carousel \\
[nz-carousel-content] {
  text-align: center;
  height: 100%;
  width: 100%;
  // min-height: 46.6vh;
  // line-height: 325px;
  line-height: 0;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.imgs {
  width: 100%;
  height: 46.6vh;
  object-fit: fill;
}

//temporary setting
.tab-setting {
  width: 20px;
  position: inherit;
  top: -2px;
  left: 0;
}

::ng-deep .ant-tabs > .ant-tabs-nav {
  margin-bottom: 5px !important;
}
//////////////////////////////////

// BIRTHDAY, ANNIVERSARY AND HOLIDAY TAB \\
.occasion-container {
  display: flex;
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
  flex-direction: column;
  width: 39.2%;
  height: 72%;
  //max-width: 31.7vw;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.tab {
  padding: 10px 30px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  font-size: 16px;
  font-weight: 600;
  color: #aca9a9;
  transition: all 0.3s ease;

  &:hover {
    color: #000;
  }

  &.active {
    color: #000;
    border-bottom-color: #b30938;
  }
}

//////////////////////////////////
