<!-- HEADER -->
<nz-layout class="header-layout">
  <nz-header>
    <span
      class="trigger"
      nz-icon
      [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      (click)="isCollapsed = !isCollapsed"
    ></span>
    <span class="line-header">|</span>
    <img
      src="/assets/Dashboard-assets/Header-logo.png"
      alt="hris-logo"
      class="hris-logo"
    />
    <div
      class="acc-container"
      nz-button
      nz-popover
      [(nzPopoverVisible)]="visible"
      (nzPopoverVisibleChange)="change($event)"
      nzPopoverTrigger="click"
      [nzPopoverContent]="contentTemplate"
    >
      <img
        src="/assets/Dashboard-assets/Office-Manager.png"
        alt="picture"
        class="acc-pic"
      />
      <span class="acc-name">Office Manager</span>
      <ng-template #contentTemplate>
        <a (click)="signOut()">Sign out</a>
      </ng-template>
    </div>
  </nz-header>
</nz-layout>
<!-- ////////////////////////////////////////////// -->

<!-- SIDEBAR -->
<nz-layout class="sidebar-layout">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="!isCollapsed"
    [nzTrigger]="null"
    [nzWidth]="215"
  >
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item id="dashboard" nzSelected (click)="select('dashboard')">
        <div class="sidemenu-logo-container">
          <div class="dashboard-logo">
            <img
              *ngIf="!navigate.dashboard"
              src="/assets/Sidebar-assets/Default-Icons/Dashboard-default.png"
              alt="dash-logo"
              class="sidebar-logo"
            />

            <img
              *ngIf="navigate.dashboard"
              src="/assets/Sidebar-assets/Active-Icons/Dashboard.png"
              alt="dash-logo"
              class="sidebar-logo"
            />
          </div>
        </div>
        <span class="menu-label">Dashboard</span>
      </li>
      <li nz-menu-group nzTitle="ORGANIZATION"></li>
      <li nz-menu-item (click)="select('employees')">
        <div class="sidemenu-logo-container">
          <img
            *ngIf="!navigate.employees"
            src="/assets/Sidebar-assets/Default-Icons/Employees-default.png"
            alt="emp-logo"
            class="sidebar-logo"
          />

          <img
            *ngIf="navigate.employees"
            src="/assets/Sidebar-assets/Active-Icons/Employees.png"
            alt="emp-logo"
            class="sidebar-logo"
          />
        </div>
        <span class="menu-label">Employees</span>
      </li>
      <li nz-menu-item (click)="select('department')">
        <div class="sidemenu-logo-container">
          <img
            *ngIf="!navigate.department"
            src="/assets/Sidebar-assets/Default-Icons/Department-default.png"
            alt="dept-logo"
            class="sidebar-logo"
          />

          <img
            *ngIf="navigate.department"
            src="/assets/Sidebar-assets/Active-Icons/Department.png"
            alt="dept-logo"
            class="sidebar-logo"
          />
        </div>
        <span class="menu-label">Department</span>
      </li>
      <li nz-menu-item (click)="select('position')">
        <div class="sidemenu-logo-container">
          <img
            *ngIf="!navigate.position"
            src="/assets/Sidebar-assets/Default-Icons/Position-default.png"
            alt="posi-logo"
            class="sidebar-logo"
          />

          <img
            *ngIf="navigate.position"
            src="/assets/Sidebar-assets/Active-Icons/Position.png"
            alt="posi-logo"
            class="sidebar-logo"
          />
        </div>
        <span class="menu-label">Position</span>
      </li>
      <li nz-menu-item (click)="select('computers')">
        <div class="sidemenu-logo-container">
          <img
            *ngIf="!navigate.computers"
            src="/assets/Sidebar-assets/Default-Icons/Computers-default.png"
            alt="comp-logo"
            class="sidebar-logo"
          />

          <img
            *ngIf="navigate.computers"
            src="/assets/Sidebar-assets/Active-Icons/Computers.png"
            alt="comp-logo"
            class="sidebar-logo"
          />
        </div>
        <span class="menu-label">Computers</span>
      </li>
      <li nz-menu-item (click)="select('appraisal')">
        <div class="sidemenu-logo-container">
          <img
            *ngIf="!navigate.appraisal"
            src="/assets/Sidebar-assets/Default-Icons/Appraisal-default.png"
            alt="appr-logo"
            class="sidebar-logo"
          />

          <img
            *ngIf="navigate.appraisal"
            src="/assets/Sidebar-assets/Active-Icons/Appraisal.png"
            alt="appr-logo"
            class="sidebar-logo"
          />
        </div>
        <span class="menu-label">Appraisal</span>
      </li>
      <li nz-menu-item (click)="select('salary')">
        <div class="sidemenu-logo-container">
          <img
            *ngIf="!navigate.salary"
            src="/assets/Sidebar-assets/Default-Icons/Salary-default.png"
            alt="sala-logo"
            class="sidebar-logo"
          />

          <img
            *ngIf="navigate.salary"
            src="/assets/Sidebar-assets/Active-Icons/Salary.png"
            alt="sala-logo"
            class="sidebar-logo"
          />
        </div>
        <span class="menu-label">Salary</span>
      </li>
      <li nz-menu-item (click)="select('timesheet')">
        <div class="sidemenu-logo-container">
          <img
            *ngIf="!navigate.timesheet"
            src="/assets/Sidebar-assets/Default-Icons/Timesheet-default.png"
            alt="time-logo"
            class="sidebar-logo"
          />

          <img
            *ngIf="navigate.timesheet"
            src="/assets/Sidebar-assets/Active-Icons/Timesheet.png"
            alt="time-logo"
            class="sidebar-logo"
          />
        </div>
        <span class="menu-label">Timesheet</span>
      </li>
      <li nz-menu-item (click)="select('leave')">
        <div class="sidemenu-logo-container">
          <img
            *ngIf="!navigate.leave"
            src="/assets/Sidebar-assets/Default-Icons/Leave-default.png"
            alt="leav-logo"
            class="sidebar-logo"
          />

          <img
            *ngIf="navigate.leave"
            src="/assets/Sidebar-assets/Active-Icons/Leave.png"
            alt="leav-logo"
            class="sidebar-logo"
          />
        </div>
        <span class="menu-label">Leave</span>
      </li>
      <li nz-menu-group nzTitle="WORKSPACE"></li>
      <li nz-menu-item (click)="select('expenses')">
        <div class="sidemenu-logo-container">
          <img
            *ngIf="!navigate.expenses"
            src="/assets/Sidebar-assets/Default-Icons/Expenses-default.png"
            alt="Expe-logo"
            class="sidebar-logo"
          />

          <img
            *ngIf="navigate.expenses"
            src="/assets/Sidebar-assets/Active-Icons/Expenses.png"
            alt="Expe-logo"
            class="sidebar-logo"
          />
        </div>
        <span class="menu-label">Expenses</span>
      </li>
    </ul>
  </nz-sider>

  <!-- CONTENT  -->
  <nz-content>
    <div class="inner-content">
      <div class="card">
        <!-- <div class="length"> -->
        <img
          src="/assets/Dashboard-assets/Employees-icon.png"
          alt="total-employees"
          class="icons"
        />
        <div class="text-container">
          <span class="number">68</span>
          <span class="card-title">Total Employees</span>
        </div>
      </div>
      <div class="card">
        <img
          src="/assets/Dashboard-assets/Present-icon.png"
          alt="present"
          class="icons"
        />
        <div class="text-container">
          <span class="number">60</span>
          <span class="card-title">Present Employees</span>
        </div>
      </div>
      <div class="card">
        <img
          src="/assets/Dashboard-assets/Absent-icon.png"
          alt="absent"
          class="icons"
        />
        <div class="text-container">
          <span class="number">68</span>
          <span class="card-title">Absent Employees</span>
        </div>
      </div>
      <!-- </div> -->
      <div class="card">
        <img
          src="/assets/Dashboard-assets/Late-icon.png"
          alt="late"
          class="icons"
        />
        <div class="text-container">
          <span class="number">01</span>
          <span class="card-title">Late Employees</span>
        </div>
      </div>
      <div class="card">
        <img
          src="/assets/Dashboard-assets/OnLeave-icon.png"
          alt="onLeave"
          class="icons"
        />
        <div class="text-container">
          <span class="number">04</span>
          <span class="card-title">On Leave</span>
        </div>
      </div>

      <!-- ///////////////////////////////////////////////////////////// -->

      <!-- ANNOUNCEMENTS & EVENTS TAB -->
      <div class="event-container">
        <nz-tabset
          (nzSelectChange)="eventChange()"
          [nzTabBarExtraContent]="extraTemplate"
          nzSize="small"
        >
          <nz-tab [nzTitle]="'Announcement'">
            <div class="tab-inner-container">
              <h2>Log-in and Log-out Reminder</h2>
              <p>To: <span>Everyone</span></p>
              <p>Date: <span>January 14, 2023 09:20:53 AM</span></p>
              <p align="justify">
                As a reminder, it is important for all employees to log in and
                log out of our systems accurately to maintain accurate record
                keeping. Please make sure to log in when starting your work day
                and log out when ending it. This ensures that all working hours
                are accurately reflected and helps us better track productivity.
                Thank you for your cooperation in maintaining accurate records.
                <br /><br />
                Best regards,
              </p>
              <p>Office Manager</p>
            </div>
          </nz-tab>

          <nz-tab [nzTitle]="'Events'">
            <nz-carousel *ngIf="reinitTab" nzAutoPlay [nzEffect]="'fade'">
              <div nz-carousel-content *ngFor="let index of imageUrls">
                <!-- <h3>{{ index }}</h3> -->
                <img [src]="index" ngClass="imgs" />
              </div>
            </nz-carousel>
          </nz-tab>
        </nz-tabset>

        <!-- ACTION BUTTONS -->
        <ng-template #extraTemplate>
          <button nz-button id="add-button">
            <span nz-icon nzType="plus" nzTheme="outline"></span>ADD
          </button>
          <button nz-button>
            <img
              src="/assets/Dashboard-assets/Tabs/settings.png"
              alt="settings"
              class="tab-setting"
            />
          </button>
        </ng-template>

        <!-- <nz-carousel nzAutoPlay [nzEffect]="'fade'">
          <div nz-carousel-content *ngFor="let index of array">
            <h3>{{ index }}</h3>
          </div>
        </nz-carousel> -->
      </div>

      <!-- BIRTHDAY, ANNIVERSARY AND HOLIDAY TAB -->
      <div class="occasion-container">
        <!-- <span>Birthday</span> -->
        <div class="tab-container">
          <div
            class="tab"
            [class.active]="activeTab === 1"
            (click)="activeTab = 1"
          >
            Birthday
          </div>
          <div
            class="tab"
            [class.active]="activeTab === 2"
            (click)="activeTab = 2"
          >
            Anniversary
          </div>
          <div
            class="tab"
            [class.active]="activeTab === 3"
            (click)="activeTab = 3"
          >
            Holidays
          </div>
        </div>
        <div class="tab-inner-container"></div>
      </div>
    </div>
  </nz-content>
</nz-layout>
